@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

body {
  background-color: #ffefef;
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
}

.main_page {
  background-color: #ffffff;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  width: 40%;
  margin: 0 auto;
  padding: 50px 0;
}

.main_page {
  width: 70%;
  margin: 0 auto;
}

.offer_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer_header {
  text-align: center;
  padding: 50px 0;
  width: 50%;
}

.offer_header h1 {
  font-size: 3rem;
}

.offer_header p {
  font-size: 1.5rem;
}

.offer_photos {
  display: flex;
  justify-content: center;
}

.offer_photos img {
  width: 25%;
  padding: 0 17px;
}

.offer_text {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  line-height: 1.6;
  width: 82%;
}

.container1,
.container2 {
  width: 45%;
  padding: 80px 0;
}
