@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

body {
  background-color: #ffefef;
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
}

.main_page {
  background-color: #ffffff;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  padding: 50px 0;
}

.main_page {
  width: 70%;
  margin: 0 auto;
}

.offer_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer_header {
  text-align: center;
  padding: 50px 0;
  width: 35%;
}

.offer_header h1 {
  font-size: 3rem;
}

.offer_header p {
  font-size: 1.3rem;
}

.offer_photos {
  display: flex;
  justify-content: center;
}

.offer_photos img {
  width: 25%;
  padding: 0 17px;
}

.offer_text {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  line-height: 1.6;
  width: 82%;
}

.container1,
.container2 {
  width: 45%;
  padding: 80px 0;
}

.paragraph {
  padding-bottom: 30px;
}

.menu h2 {
  font-size: 2.2rem;
}

.menu p {
  font-size: 1.1rem;
}

.menu img {
  flex: 1 1 auto;
  width: 40%;
}

.menu_text1,
.menu_text2,
.menu_text3 {
  flex: 1 1 auto;
  padding: 0 80px;
}

.menu_text2 {
  text-align: right;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container3,
.container4,
.container5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.dish2 {
  order: 2;
}

button {
  background-color: #ffefef;
  color: #000000;
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
}

.footer {
  color: grey;
  text-align: center;
}

.footer p {
  display: inline-block;
  width: 35%;
  padding: 50px 0;
}
